:root {
    --brand-1: #4263eb;
    --brand-2: #364fc7;

    --grey-0: #0a0c0d;
    --grey-1: #212529;
    --grey-2: #495057;
    --grey-3: #868e96;
    --grey-4: #dee2e6;
    --grey-5: #f8f9fa;
    --grey-opacity-1: rgba(33, 37, 41.0.5);
    --whiteFixed: #ffffff;

    --like: #d7443e;

    --font-weight-700: 700;
    --font-weight-600: 600;
    --font-weight-400: 400;
    --font-weight-400: 400;
    --font-weight-400: 400;

    --font-size-175: 1.75rem;
    --font-size-125: 1.25rem;
    --font-size-1: 1rem;
    --font-size-875: 0.875rem;
    --font-size-75: 0.75rem;


    --line-height-25: 2.5rem;
    --line-height-15: 1.5rem;
    --line-height-175: 1.75rem;
    --line-height-1: 1rem;
    --line-height-1: 1rem;
}